/temp_data
/notebooks
/results
/stl
/nastran
/html
/slides
/nastran
/nastran_trg
/nastran_input
/marc_input
/marc_temp
/levelset_data
*.log
*.stl
*.npy
*.bdf
*.so
__pycache__/
/tetgen
/experiments
lsto.egg-info/
/marc_trg
/material
/mesh_data
/wing2d_dat